<section class="mx-5">
    <h1 class="text-2xl font-bold">Pipes Numéricos</h1>
    <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>
<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
        <div class="stat-title">Number: '1.2-2</div>
        <div class="stat-value">{{ totalSells() | number : "1.2-2" }}</div>
        <div class="stat-desc">{{ totalSells() }}</div>
    </div>

    <div class="stat">
        <div class="stat-title">Number: '1.2-2</div>
        <div class="stat-value">{{ totalSells() + 1234 | number : "1.2-2" }}</div>
        <div class="stat-desc">{{ totalSells() }}</div>
    </div>

    <div class="stat">
        <div class="stat-title">Currency</div>
        <div class="stat-value">{{ totalSells() | currency : "ARS" : "symbol-narrow" : "1.2-2"}}</div>
        <div class="stat-desc">{{ totalSells() }}</div>
    </div>

    <div class="stat">
        <div class="stat-title">Percent</div>
        <div class="stat-value">{{ percent() | percent : "1.2-2"}}</div>
        <div class="stat-desc">{{ percent() }}</div>
    </div>

</div>
<div class="divider"></div>
<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
        <div class="stat-title">Date Pipe</div>
        <div class="stat-value">{{ customDate() | date }}</div>
        <div class="stat-desc">{{ customDate() }}</div>
    </div>

    <div class="stat">
        <!-- "GMT-0300" Zona horaria de argentina. -->
        <div class="stat-title">Date|long|GMT-0300</div>
        <div class="stat-value">{{ customDate() | date: "long" : "GMT-0300" }}</div>
        <div class="stat-desc">{{ customDate() }}</div>
    </div>
</div>
<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
        <!-- "GMT-0300" Zona horaria de argentina. -->
        <div class="stat-title">Date: 'yyyy-MM'</div>
        <div class="stat-value">{{ customDate() | date: "yyyy-MM" : "GMT-0300" }}</div>
        <div class="stat-desc">{{ customDate() }}</div>
    </div>

    <div class="stat">
        <!-- "GMT-0300" Zona horaria de argentina. -->
        <div class="stat-title">Date|short|GMT-0300</div>
        <div class="stat-value">{{ customDate() | date: "short" : "GMT-0300" }}</div>
        <div class="stat-desc">{{ customDate() }}</div>
    </div>
</div>
<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
        <!-- "GMT-0300" Zona horaria de argentina. -->
        <div class="stat-title">Date: 'dd/MM/yyyy'</div>
        <div class="stat-value">{{ customDate() | date: "dd/MM/yyyy" : "GMT-0300" }}</div>
        <div class="stat-desc">{{ customDate() }}</div>
    </div>

    <div class="stat">
        <!-- "GMT-0300" Zona horaria de argentina. -->
        <div class="stat-title">Date: 'HH:mm:ss'</div>
        <div class="stat-value">{{ customDate() | date: "HH:mm:ss" : "GMT-0300" }}</div>
        <div class="stat-desc">{{ customDate() }}</div>
    </div>

    <div class="stat">
        <!-- "GMT-0300" Zona horaria de argentina. -->
        <div class="stat-title">Date: 'HH:mm:ss'</div>
        <div class="stat-value">{{ customDate() | date: "EEEE d, MMMM" : "GMT-0300" }}</div>
        <div class="stat-desc">{{ customDate() }}</div>
    </div>
</div>